body {
    font-family: 'Varela Round', sans-serif;
    background-image: url('https://i.imgur.com/UlWpO62.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#logotxt {
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin: auto;
    width: 50%;
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

#avatar {
    border-radius: 50%;
}

#avatarBox {
    display: block;
    text-align: center;
}

#box {
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

#bio {
    text-align: center;
    color: #fff;
    opacity: 0.75;
    font-size: 1.2rem;
}  

hr {
    width: 10rem;
    opacity: 0.65;
}

.socials {
    text-align: center;
    padding-top: 1rem;
}

.socials a {
    padding: 0.3rem;
    opacity: 0.5;
    transition-duration: 0.075;
}

.socials a:hover {
    opacity: 1;
    transition-duration: 0.1s;
}

.socials img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    filter: grayscale() invert();
}
/*
https://i.imgur.com/UlWpO62.jpg
https://i.imgur.com/4E2Yfws.jpg
*/